Package: why-theme-ice-light
Version: 0.4.0-1
Architecture: all
Section: why
Priority: optional
Description: The ice theme for my custom desktop in light-mode.
Depends: why-desktop (>=0.9.2), wings-plasma-themes, materia-gtk-theme, fonts-noto, why-theme-ice 
Provides: why-theme
Replaces: why-desktop-theme-ice-light (<0.4)
Maintainer: WhyAreAllTheseTaken

