Package: why-theme-pink
Version: 0.7.0-3
Architecture: all
Section: why
Priority: optional
Description: The pink city theme for my custom desktop.
    Palette: https://coolors.co/1f142f-523d66-ffaeff-ffd6ff-e0005d-ff4794-e000e0-ff5cff
Depends: why-desktop (>=0.9.2), magna-icon-theme, materia-gtk-theme, fonts-noto, why-shell (>= 0.4) 
Pre-Depends: why-bg (>=0.11), why-theme (>=0.13), sudo, coreutils
Provides: why-desktop-theme
Maintainer: WhyAreAllTheseTaken

